@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131F2A;
  --foreground: #F3F3F3;
  --primary: #1E2C37;
  --stroke: #FFFFFF1A;
  --secondary: #3475DA;
  --muted: #B3B3B3;
  --badge-primary: #3475DA4A;
  --badge-secondary: #E8B9311A;
  --warning: #E8B931;
}
.skeleton-el {
  background-image: linear-gradient(
    90deg,
    rgba(34, 34, 34, 0),
    rgba(42, 42, 42, 0.15),
    rgba(35, 35, 35, 0.05)
  );
}

.dark .skeleton-el {
  background-image: linear-gradient(
    90deg,
    rgba(34, 34, 34, 0),
    rgba(42, 42, 42, 0.3),
    rgba(35, 35, 35, 0.1)
  );
}

@keyframes shine {
  to {
    /* // Move shine from left to right, with offset on the right based on the width of the shine - see background-size */
    background-position: right -40px top 0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Instrument Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
