@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131F2A;
  --foreground: #F3F3F3;
  --primary: #1E2C37;
  --stroke: #FFFFFF1A;
  --secondary: #3475DA;
  --muted: #B3B3B3;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Instrument Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
